<div style="height: 100%">

  <div class="d-flex flex-column" style="height: 100%">

    <nz-breadcrumb>
      <nz-breadcrumb-item>เพิ่มผลการเรียน
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="toolbar">
      <nz-page-header-extra class="headex">
        <button class="buttontool" nz-button nzType="primary"></button>
      </nz-page-header-extra>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24">
        <h3>เพิ่มผลการเรียน</h3>
      </div>
    </div>
    <br />
    <nz-collapse>
      <nz-collapse-panel class="collapse-header" nzHeader="เพิ่มผลการเรียน" [nzActive]="true">



        <form [formGroup]="searchSubmitForm" nzLayout="'vertical'" class="ss-form-search-criteria">
          <nz-row nz-row [nzGutter]="24" class="center">
            <div nz-col nzXs="24" nzSm="6" nzMd="6">
              <nz-form-item>
                <nz-form-label nzFor="classYear"> ระดับชั้น </nz-form-label>
                <nz-form-control>
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder=" " id="classYear" name="classYear"
                    formControlName="classYear">
                    <nz-option nzLabel="ปวช.1" nzValue="ปวช.1"></nz-option>
                    <nz-option nzLabel="ปวช.2" nzValue="ปวช.2"></nz-option>
                    <nz-option nzLabel="ปวช.3" nzValue="ปวช.3"></nz-option>
                    <nz-option nzLabel="ปวส.1" nzValue="ปวส.1"></nz-option>
                    <nz-option nzLabel="ปวส.2" nzValue="ปวส.2"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzXs="24" nzSm="6" nzMd="6">
              <nz-form-item>
                <nz-form-label nzFor="fieldOfStudy"> สาขา </nz-form-label>
                <nz-form-control>
                  <nz-select nzAllowClear nzShowSearch id="fieldOfStudy" name="fieldOfStudy" nzPlaceHolder=" "
                    formControlName="fieldOfStudy">
                    <nz-option nzLabel="การบัญชี" nzValue="การบัญชี"></nz-option>
                    <nz-option nzLabel="การตลาด" nzValue="การตลาด"></nz-option>
                    <nz-option nzLabel="คอมพิวเตอร์กราฟิก" nzValue="คอมพิวเตอร์กราฟิก"></nz-option>
                    <nz-option nzLabel="คอมพิวเตอร์โปรแกรมเมอร์" nzValue="คอมพิวเตอร์โปรแกรมเมอร์"></nz-option>
                    <nz-option nzLabel="การโรงแรมและบริการ" nzValue="การโรงแรมและบริการ"></nz-option>
                    <nz-option nzLabel="ธุรกิจร้านอาหารและภัตตาคาร" nzValue="ธุรกิจร้านอาหารและภัตตาคาร"></nz-option>
                    <nz-option nzLabel="การจัดการธุรกิจค้าปลีก" nzValue="การจัดการธุรกิจค้าปลีก"></nz-option>
                    <nz-option nzLabel="สปาและความงาม" nzValue="สปาและความงาม"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col nzXs="24" nzSm="6" nzMd="6">
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary" (click)="searchSTD(true)">
                    ค้นหา
                  </button>&NonBreakingSpace;
                  <button nz-button nzType="primary" (click)="reset()">
                    รีเซ็ท
                  </button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </nz-row>
        </form>

        <form [formGroup]="gradSubmitForm" nzLayout="'vertical'" class="ss-form-search-criteria">


          <nz-row nz-row [nzGutter]="24" class="center">

            <div nz-col nzXs="24" nzSm="24" nzMd="12">
              <nz-select style="width: 60%;" nzAllowClear nzPlaceHolder="Choose" formControlName="studentId">
                <nz-option *ngFor="let option of listOfData" [nzValue]="option.id"
                  [nzLabel]="option.preName +' '+ option.firstName +' '+ option.lastName"></nz-option>
              </nz-select>
<!--
              <nz-select  style="width: 60%;" nzAllowClear nzPlaceHolder="Choose" formControlName="id">
                <nz-option *ngFor="let option of listOfData" [nzValue]="option.id"
                  [nzLabel]="option.id"></nz-option>
              </nz-select> -->

            </div>


            <div nz-col nzXs="2" nzSm="4" nzMd="3">
              <nz-select style="width: 90%" [nzPlaceHolder]="'ปีการศึกษา'" formControlName="year">
                <nz-option nzValue="2564" nzLabel="2560"></nz-option>
                <nz-option nzValue="2564" nzLabel="2561"></nz-option>
                <nz-option nzValue="2564" nzLabel="2562"></nz-option>
                <nz-option nzValue="2564" nzLabel="2563"></nz-option>
                <nz-option nzValue="2564" nzLabel="2564"></nz-option>
                <nz-option nzValue="2565" nzLabel="2565"></nz-option>
              </nz-select>
            </div>
            <div nz-col nzXs="2" nzSm="4" nzMd="3">
              <nz-select style="width: 90%" [nzPlaceHolder]="'ภาคเรียน'" formControlName="turm">
                <nz-option nzValue="1" nzLabel="1"></nz-option>
                <nz-option nzValue="2" nzLabel="2"></nz-option>
              </nz-select>
            </div>
          </nz-row>

          <div nz-row>
            <div nz-col nzXs="24" nzSm="24" nzMd="12">
              <nz-input-group nzCompact>
                <nz-select class="sub" [nzPlaceHolder]="'วิชา'" formControlName="subject1">
                  <nz-option *ngFor="let sub of listOfSubject" [nzValue]="sub.subjectName" [nzLabel]="sub.subjectName">
                  </nz-option>
                </nz-select>
                <nz-input-number [nzMin]="0.5" [nzMax]="4" [nzStep]="0.5" [nzPlaceHolder]="'เกรด'"
                  formControlName="point1"></nz-input-number>
              </nz-input-group>
            </div>

            <div nz-col nzXs="24" nzSm="24" nzMd="12">
              <nz-input-group nzCompact>
                <nz-select class="sub" [nzPlaceHolder]="'วิชา'" formControlName="subject2">
                  <nz-option *ngFor="let sub of listOfSubject" [nzValue]="sub.subjectName" [nzLabel]="sub.subjectName">
                  </nz-option>
                </nz-select>
                <nz-input-number [nzMin]="0.5" [nzMax]="4" [nzStep]="0.5" [nzPlaceHolder]="'เกรด'"
                  formControlName="point2"></nz-input-number>
              </nz-input-group>
            </div>

            <div nz-col nzXs="24" nzSm="24" nzMd="12">
              <nz-input-group nzCompact>
                <nz-select class="sub" [nzPlaceHolder]="'วิชา'" formControlName="subject3">
                  <nz-option *ngFor="let sub of listOfSubject" [nzValue]="sub.subjectName" [nzLabel]="sub.subjectName">
                  </nz-option>
                </nz-select>
                <nz-input-number [nzMin]="0.5" [nzMax]="4" [nzStep]="0.5" [nzPlaceHolder]="'เกรด'"
                  formControlName="point3"></nz-input-number>
              </nz-input-group>
            </div>

            <div nz-col nzXs="24" nzSm="24" nzMd="12">
              <nz-input-group nzCompact>
                <nz-select class="sub" [nzPlaceHolder]="'วิชา'" formControlName="subject4">
                  <nz-option *ngFor="let sub of listOfSubject" [nzValue]="sub.subjectName" [nzLabel]="sub.subjectName">
                  </nz-option>
                </nz-select>
                <nz-input-number [nzMin]="0.5" [nzMax]="4" [nzStep]="0.5" [nzPlaceHolder]="'เกรด'"
                  formControlName="point4"></nz-input-number>
              </nz-input-group>
            </div>

            <div nz-col nzXs="24" nzSm="24" nzMd="12">
              <nz-input-group nzCompact>
                <nz-select class="sub" [nzPlaceHolder]="'วิชา'" formControlName="subject5">
                  <nz-option *ngFor="let sub of listOfSubject" [nzValue]="sub.subjectName" [nzLabel]="sub.subjectName">
                  </nz-option>
                </nz-select>
                <nz-input-number [nzMin]="0.5" [nzMax]="4" [nzStep]="0.5" [nzPlaceHolder]="'เกรด'"
                  formControlName="point5"></nz-input-number>
              </nz-input-group>
            </div>

            <div nz-col nzXs="24" nzSm="24" nzMd="12">
              <nz-input-group nzCompact>
                <nz-select class="sub" [nzPlaceHolder]="'วิชา'" formControlName="subject6">
                  <nz-option *ngFor="let sub of listOfSubject" [nzValue]="sub.subjectName" [nzLabel]="sub.subjectName">
                  </nz-option>
                </nz-select>
                <nz-input-number [nzMin]="0.5" [nzMax]="4" [nzStep]="0.5" [nzPlaceHolder]="'เกรด'"
                  formControlName="point6"></nz-input-number>
              </nz-input-group>
            </div>
          </div>


        </form>

        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24" nzAlign="center" style="text-align: center;">
            <button type="button" nz-button nzType="primary" class="savebutton" [nzLoading]="isLoadingOne"
              (click)="save()">
              บันทึก
            </button>
            <button type="button" nz-button nzType="primary" class="savebutton" [nzLoading]="isLoadingOne"
              (click)="reset1()">
              รีเซ็ท
            </button>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <br />
    <br />
  </div>
</div>
<ng-template> </ng-template>
